:root {
  font-family: "Nunito Sans", system-ui, "Albert Sans", "Niconne", Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-bg-color: #1f002b;
  --answer-bg-color: #36173d;
  --answer-color: #ffffff;
  --invalid-color: #d0006e;
  --question-color: #f2f3f5;
  --accent-color: #e4229b;
  --button-color: #e4229c;
  --checked-answer-color: #e4229b33;
  --support-color: #c4c8cc;
  --checkbox-bg-color: #6d4376;
  --loader-outline-color: #e8eaf2;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
